#portfolio {
    margin-top: 4rem;
}

.portfolio__container {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    /* gap: 2.5rem; */
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.portfolio__item {
    background: var(--color-primary-variant2);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1.5px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant2);
    background: transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h3 {
    margin: 1.2rem 0 0;
}

.portfolio__item-cta {
    display: flex;
    justify-content: space-between;
}

.portfolio__item-cta a {
    font-size: 1.8rem;
    padding: 0.4rem 0.8rem 0rem;
    margin: auto;
    margin-top: 1.4rem;
}

.portfolio__details {
    width: 94%;
}

/* ================= MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* ================= MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}