@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bg: #ffffff99;
    --color-bg-variant: #ffffff99;
    --color-primary: #ffffff99;
    --color-primary-variant: #ffffff66;
    --color-primary-variant2: #ffffff22;
    --color-button-fill: #ffffff00;
    --color-secondary: #ffa700;
    --color-secondary-variant: #ffa600a2;
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Anek Latin', sans-serif;
    background: var(--color-bg);
    color: var(--color-primary);
    line-height: 1.7;
    background-image: url(../src/assets/background\ 1366x768.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* ================= GENERAL STYLES ================= */
.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1 {
    font-weight: 500;
}

h2, h3, h4, h5 {
    font-weight: 400;
}

h1 {
    font-size: 2.5rem;
    color: var(--color-white)
}

h5 {
    font-size: 1rem;
    color: var(--color-secondary)
}

section {
    margin-top: 8rem;
    /* height: 100vh; */
}

section > h2, section > h5 {
    text-align: center;
    color: var(--color-secondary)
}

section > h2 {
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.text-light {
    color: var(--color-primary);
    font-size: 0.8rem;
    font-weight: 300;
}

a {
    color: var(--color-primary-variant);
    transition: var(--transition);
    font-weight: 500;
}

a:hover {
    color: var(--color-secondary);
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary-variant);
    transition: var(--transition);
}

.btn:hover {
    background: var(--color-primary-variant2);
    color: var(--color-secondary);
    border-color: transparent;
}

.btn-primary {
    background: var(--color-primary-variant2);
    color: var(--color-primary)
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* ================= MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    section  {
        margin-top: 6rem;
    }
}

/* ================= MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    section > h2 {
        margin-bottom: 2rem;
    }
}